.footer {
    background-color: #cc2020;
    height: 70px;
    box-shadow: 0px 1px 7px 2px #534f4f;
}

.footer__margin{
    margin-bottom: 0px !important;
}

.footer:hover {
    box-shadow: 0px 1px 7px 2px black;
}

.footer__info {
    padding-top: 25px;
    color: white;
    padding-left: 0px !important;
}

.footer__time {
    margin-top: 25px;
    color: white;
    text-align: end;
    padding-right: 0px !important;
}

@media only screen and (max-width: 992px) {
    .footer__info{
        display: none;
    }
    .footer__time{
        text-align: center;
    }
  }