.users{
    margin-bottom: 25px;
}

.usersGrid{
    padding: 0px !important;
}

.rowMargin{
    margin: 0px !important;
}

.textCenter{
    text-align: center;
    margin-bottom: 475px;
    width: 100%;
}